@{
    ViewData["Title"] = "Imagens do Bootstrap";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <button class="btn btn-outline-primary">
        TESTE 1
    </button>

    <button class="btn btn-lg btn-sucess">
        TESTE 2
    </button>
    <hr class="mt-3" />


    <img class="img-fluid" src="~/img/walpapaer.jpg" />
    <hr class="mt-3" />
    <img class="img-thumbnail" src="~/img/walpapaer.jpg" width="200" height="300" />
    <hr class="mt-3" />
    <img class="img-fluid rounded-circle" src="~/img/walpapaer.jpg" width="500" height="800" />
    <hr class="mt-3" />
</div>